**/target
**/build
**/.svn
**/bin/
**/.classpath
**/.settings
**/.springBean
**/*.iml
**/*.idea
**/.externalToolBuilders
**/test-output

*.iml
/target
/build
/.svn
/bin/
/.classpath
/.settings
/.springBean
/*.iml
/*.idea
/.externalToolBuilders
/test-output

**/gen-java

deploy.sh
pickit_service/src/main/webapp/jsonTest/

**/.sass-cache/*
_gsdata_
node_modules