<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>/JqueryChats</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>jQueryChats</servlet-name>
    <servlet-class>main.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jQueryChats</servlet-name>
    <url-pattern>/jQueryChats</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckCookie</servlet-name>
    <servlet-class>main.CheckCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCookie</servlet-name>
    <url-pattern>/CheckCookie</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CookieTest</servlet-name>
    <servlet-class>main.CookieTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest</servlet-name>
    <url-pattern>/CookieTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CounterServ</servlet-name>
    <servlet-class>main.CounterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServ</servlet-name>
    <url-pattern>/CounterServ</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  
  <context-param>
    <param-name>breed</param-name>
    <param-value>Great</param-value>
  </context-param>
  
  <listener>
    <listener-class>main.MyServletContextListener</listener-class>
  </listener>
</web-app>